.imageDetails {
    width: 400px;
    height: 250px;
    border-radius: 5%;
}

.scrollableDiv {
    overflow-y: scroll;
    height: 90px;
       
}

.sectionComments {
    height: 100%;
    max-Height: 20vh;
    width: 100%;
    border-Radius: 0.5rem;
    border-Width: 2px;
    border-Color: #666161;
    padding: 10px;
    margin: 1px;
}

.comments {
    padding-top: 0;
    margin-top: 1rem;
    list-style-type: none;
  }