.imageDetails {
    width: 400px;
    height: 250px;
    border-radius: 5%;
}

.scrollableDiv {
    overflow-y: scroll;
    height: 90px;
       
}

.sectionComments {
    height: 100%;
    max-Height: 20vh;
    width: 100%;
    border-Radius: 0.5rem;
    border-Width: 2px;
    border-Color: #666161;
    padding: 10px;
    margin: 1px;
}

.comments {
    padding-top: 0;
    margin-top: 1rem;
    list-style-type: none;
  }

  .modaloverlay {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(146, 143, 143, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .modal {
    background: white;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modalButton {
    margin: 5px;
    background: #262525;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }