.sectionComments {
    height: 100%;
    max-Height: 80vh;
    width: 100%;
    border-Radius: 0.5rem;
    border-Width: 2px;
    border-Color: #666161;
    padding: 2px;
    margin: 2px;
}

.scrollableDiv {
    overflow-y: scroll;
    height:100px;
  }